h1 {
    color: blue;
}

.make-format {
    text-decoration: underline yellow;
}

.feedback {
    text-decoration: underline blueviolet;
}

body {
    text-align: center;
}

p {
    font-size: 20px;
    color: green;
    font-weight: bold;
}